
 body {background-color: powderblue;}
 h1   {color: blue;}
 p    {color: red;}
 h2 {color: navy;}
 img {
     margin: 16px 16px 10px 10px;
  }
  img {
      padding: 25px 25px 20px 20px;
  }
  
  li {color: purple;}
  a {color: pink;}
  footer {color: yellow; font-style: italic; font-weight: bold; font-size: 300%;}